name: palm.drop

networks:
  nextcloud:
    driver: bridge
    ipam:
      config:
        - subnet: $SUBNET_IPS

services:
  twingate-cloud-connector:
    image: twingate/connector:latest
    container_name: twingate-cloud-connector
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    restart: unless-stopped
    sysctls:
      - net.ipv4.ping_group_range=0 2147483647
    env_file:
      - ./env/twingate-cloud-connector.env
      - ./env/twingate-cloud-connector.secrets.env
    environment:
      - TWINGATE_LABEL_DEPLOYED_BY=docker
      - TWINGATE_LOG_ANALYTICS=v2
      - TWINGATE_LOG_LEVEL=3
    networks:
      - nextcloud

  db:
    image: postgres:17
    restart: unless-stopped
    container_name: ${POSTGRES_CONTAINER}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    volumes:
      - db:/var/lib/postgresql/data
    env_file:
      - ./env/postgres.env
      - ./env/postgres.secrets.env
    environment:
      POSTGRES_INITDB_ARGS: --data-checksums
    command: postgres -c 'shared_preload_libraries=pg_stat_statements' -c 'max_connections=200' -c 'shared_buffers=256MB'
    networks:
      - nextcloud

  redis:
    image: redis:7.4-alpine
    restart: unless-stopped
    container_name: nextcloud-redis
    command: redis-server --maxmemory 256mb --maxmemory-policy allkeys-lru
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - nextcloud

  caddy:
    image: caddy:latest
    restart: unless-stopped
    container_name: nextcloud-caddy-proxy
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./config/Caddyfile:/etc/caddy/Caddyfile:ro
      - /etc/ssl/certs/${DOMAIN_CERT_FILE}:/etc/ssl/certs/${DOMAIN_CERT_FILE}:ro
      - /etc/ssl/private/${DOMAIN_KEY_FILE}:/etc/ssl/private/${DOMAIN_KEY_FILE}:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      nextcloud:
        ipv4_address: $PROXY_IP
    depends_on:
      - nextcloud

  nextcloud:
     image: nextcloud:latest
     restart: unless-stopped
     container_name: $NEXTCLOUD_CONTAINER
     extra_hosts:
       - "${DOMAIN}:${PROXY_IP}"
     logging:
       driver: "json-file"
       options:
         max-size: "10m"
         max-file: "3"
     volumes:
       - nextcloud:/var/www/html
       - ${NEXTCLOUD_DATA_DIR:-/mnt/data/nextcloud}:/var/www/html/data
     env_file:
       - ./env/postgres.env 
       - ./env/postgres.secrets.env 
     environment:
       - POSTGRES_HOST=db
       - REDIS_HOST=redis
       - OVERWRITEPROTOCOL=https
       - NEXTCLOUD_TRUSTED_DOMAINS=${DOMAIN},${PROXY_IP}
       - NEXTCLOUD_DATA_DIR=/var/www/html/data
       - TRUSTED_PROXIES=${PROXY_IP}
       - OVERWRITEHOST=${DOMAIN}
     networks:
       nextcloud:
         ipv4_address: $NEXTCLOUD_IP
     depends_on:
       - db
       - redis

  nextcloud-cron:
     image: nextcloud:latest
     container_name: nextcloud-cron
     restart: unless-stopped
     volumes:
       - nextcloud:/var/www/html
       - ${NEXTCLOUD_DATA_DIR:-/mnt/data/nextcloud}:/var/www/html/data
     entrypoint: /cron.sh
     networks:
       - nextcloud
     depends_on:
       - nextcloud

  collabora:
    image: collabora/code:latest
    restart: unless-stopped
    container_name: nextcloud-collabora
    extra_hosts:
      - "${DOMAIN}:${PROXY_IP}"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    env_file:
      - ./env/collabora.env
      - ./env/collabora.secrets.env
    environment:
      - aliasgroup1=https://${DOMAIN}:443 
      - domain=${DOMAIN_REGEX}
      - extra_params=--o:ssl.enable=false --o:ssl.termination=true
    cap_add:
      - MKNOD
    networks:
      - nextcloud
    depends_on:
      - nextcloud

  drawio:
    image: jgraph/drawio:latest
    container_name: nextcloud-drawio
    restart: unless-stopped
    networks:
      - nextcloud
    depends_on: 
      - nextcloud

  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    restart: unless-stopped
    env_file:
      - ./env/pihole.secrets.env
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      # - "127.0.0.1:8081:80"
      #- "80:80/tcp"
      #- "443:443/tcp"
      # Uncomment the line below if you are using Pi-hole as your DHCP server
      #- "67:67/udp"
      # Uncomment the line below if you are using Pi-hole as your NTP server
      #- "123:123/udp"
    environment:
      FTLCONF_LOCAL_IPV4: "192.168.1.101"
      TZ: 'Europe/Stockholm'
      FTLCONF_dns_listeningMode: 'ALL'
      # DNSMASQ_LISTENING: 'all'
    volumes:
      - './config/pihole/etc-pihole:/etc/pihole'
      - './config/pihole/etc-dnsmasq.d:/etc/dnsmasq.d'
    cap_add:
      # See https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
      # Required if you are using Pi-hole as your DHCP server, else not needed
      #- NET_ADMIN
      # Required if you are using Pi-hole as your NTP client to be able to set the host's system time
      # - SYS_TIME
      # Optional, if Pi-hole should get some more processing time
      - SYS_NICE
    networks:
      - nextcloud

volumes:
  db:
    name: nextcloud_db
  nextcloud:
    name: nextcloud_data
  caddy_data:
    name: caddy_data
  caddy_config:
    name: caddy_config
