name: palm.drop

networks:
  palmcloud:
    external: true

services:
  twingate-cloud-connector:
    image: twingate/connector:latest
    container_name: twingate-cloud-connector
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    restart: unless-stopped
    sysctls:
      - net.ipv4.ping_group_range=0 2147483647
    env_file:
      - ./config/twingate-cloud-connector.env
      - ./config/twingate-cloud-connector.secrets.env
    environment:
      - TWINGATE_LABEL_DEPLOYED_BY=docker
      - TWINGATE_LOG_ANALYTICS=v2
      - TWINGATE_LOG_LEVEL=3
    networks:
      - palmcloud
