palm.cloud {
    # DrawIO
    handle_path /drawio/* {
	    reverse_proxy nextcloud-drawio:8080
    }

    # Collabora Office 
    handle /browser* {
        reverse_proxy nextcloud-collabora:9980
    }
    
    handle /hosting/discovery {
        reverse_proxy nextcloud-collabora:9980
    }
    
    handle /hosting/capabilities {
        reverse_proxy nextcloud-collabora:9980
    }
    
    handle /cool/* {
        reverse_proxy nextcloud-collabora:9980
    }
    
    handle /lool/* {
        reverse_proxy nextcloud-collabora:9980
    }

    # Nextcloud (default route)
    handle /* {
        reverse_proxy nextcloud:80 {
           header_up Host {host}
           header_up X-Forwarded-Proto https
           header_up X-Forwarded-For {remote_host}
        }
    }

    tls /etc/ssl/certs/palm.cloud.crt /etc/ssl/private/palm.cloud.key
}


pihole.palm.cloud {
    reverse_proxy pihole:80
 
    tls /etc/ssl/certs/palm.cloud.crt /etc/ssl/private/palm.cloud.key
}

dashboard.palm.cloud {
    reverse_proxy homepage:3000
 
    tls /etc/ssl/certs/palm.cloud.crt /etc/ssl/private/palm.cloud.key
    # tls internal
}
