name: pihole

networks:
  palmcloud:
    external: true

services:
  pihole:
    image: pihole/pihole:latest
    restart: unless-stopped
    env_file:
      - ./config/pihole.secrets.env
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      # - "127.0.0.1:8081:80"
      #- "80:80/tcp"
      #- "443:443/tcp"
      # Uncomment the line below if you are using Pi-hole as your DHCP server
      #- "67:67/udp"
      # Uncomment the line below if you are using Pi-hole as your NTP server
      #- "123:123/udp"
    environment:
      FTLCONF_LOCAL_IPV4: "192.168.1.101"
      TZ: 'Europe/Stockholm'
      FTLCONF_dns_listeningMode: 'ALL'
      # DNSMASQ_LISTENING: 'all'
    volumes:
      - './data/etc-pihole:/etc/pihole'
      - './data/etc-dnsmasq.d:/etc/dnsmasq.d'
    cap_add:
      # See https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
      # Required if you are using Pi-hole as your DHCP server, else not needed
      #- NET_ADMIN
      # Required if you are using Pi-hole as your NTP client to be able to set the host's system time
      # - SYS_TIME
      # Optional, if Pi-hole should get some more processing time
      - SYS_NICE
    networks:
      - palmcloud
