*.key
*.pem
*.password
*passphrase*
*secrets*
**/secrets/
**/.env
*id_rsa*
*id_ed25519*
**/.ssh/

/srv/docker/**/data/

/afs/
/bin/
/boot/
/dev/
#/etc/
#/home/
/lib/
/lib64/
/media/
/mnt/
/opt/
/proc/
/root/
/run/
/sbin/
#/srv/
/sys/
/tmp/
/usr/
/var/
